<!--<div class="app-aside th-black">-->
    <!--<div class="aside-user"></div>-->
    <!--<div class="nav-wrap">-->
        <!--<ul class="nav">-->
            <!--<li ui-tree="menu in children of menus ">-->
                <!--<i ng-class="menu.icon"></i>-->
                <!--<span ng-bind="menu.label"></span>-->
                <!--<ul>-->
                    <!--<li ui-tree-curse></li>-->
                <!--</ul>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
    <!--<div class=""></div>-->
<!--</div>-->