<aside class="app-aside" ng-class="[skin,cls]">
    <div class="aside-wrap">
        <div class="navi-wrap">
            <nav class="navi">
                <ul class="nav">
                    <li class="hidden-folded padder m-t m-b-sm text-muted text-sm">
                        <span>Navigation</span>
                    </li>
                    <li class="active">
                        <a class="auto">
                            <span class="pull-right text-muted"></span>
                            <i class="fa fa-fw fa-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                        <ul class="nav nav-sub dk">
                            <li>
                                <a href>数据概览</a>
                            </li>
                            <li>
                                <a href>新闻纵览</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</aside>